small {
  position: absolute;
  width: 133px;
  height: 25px;
  left: 200px;
  top: 40px;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

img {
  width: 539px;
  height: 447px;
  position: absolute;
  left: 15%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
}

h1 {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 900px;
  top: 265px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
}

p {
  position: absolute;
  width: 381px;
  height: 108px;
  left: 901px;
  top: 491px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
}

button {
  position: absolute;
  width: 216px;
  height: 68px;
  left: 902px;
  top: 663px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  background: #333;
  color: #fff;
  border: none;
}

span {
  position: absolute;
  width: 300px;
  height: 17px;
  left: 900px;
  top: 1024px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

@media only screen and (max-width: 400px) {
  small {
    position: absolute;
    width: 200px;
    height: 25px;
    left: 24px;
    top: 20px;
    bottom: 20px;
    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  }

  img {
    width: 286.83px;
    height: 238px;
    position: absolute;
    left: 11.73%;
    right: 11.78%;
    top: 11.49%;
    bottom: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h1 {
    position: absolute;
    width: 350px;
    height: 142px;
    left: 24px;
    top: 390px;
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
    padding-bottom: 30px;
  }

  p {
    position: absolute;
    padding-top: 30px;
    width: 328px;
    height: 81px;
    left: 23px;
    top: 578px;
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;
  }

  button {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 24px;
    top: 726px;
    position: absolute;
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
  }

  span {
    position: absolute;
    width: 400px;
    height: 17px;
    left: 30px;
    top: 890px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}
